<h1 class="text-bold text-xl text-white mb-6">Reset Password</h1>
{{#with user}}
  <form
    action="/api/users/password-reset?token={{token}}&userId={{userId}}"
    method="post"
  >
    <div class="mb-6">
      <label class="block text-white text-sm font-bold mb-2" for="password">New
        Password</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="password"
        name="password"
        type="password"
        placeholder="New Password"
        required
      />
    </div>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit"
    >Reset password</button>
  </form>
{{/with}}