<main>
  <h1>Listado de productos</h1>
  <ul>
    {{#each products}}
      <li>
        {{this.title}}
        {{this.description}}
        ${{this.price}}
      </li>
    {{else}}
      <p>No products</p>
    {{/each}}
  </ul>
</main>