<div class="bg-gray-800 shadow-lg rounded-lg p-8 max-w-sm w-full">
  {{#with user}}
    <h2 class="text-3xl text-center text-white neon-text mb-8">Profile</h2>
    <div class="mb-4">
      <h3 class="text-white text-sm font-bold mb-2">Email</h3>
      <p class="bg-gray-700 rounded p-2 text-gray-300">{{email}}</p>
    </div>
    <div class="mb-4">
      <h3 class="text-white text-sm font-bold mb-2">First Name</h3>
      <p class="bg-gray-700 rounded p-2 text-gray-300">{{firstName}}</p>
    </div>
    <div class="mb-4">
      <h3 class="text-white text-sm font-bold mb-2">Last Name</h3>
      <p class="bg-gray-700 rounded p-2 text-gray-300">{{lastName}}</p>
    </div>
    <div class="mb-6">
      <h3 class="text-white text-sm font-bold mb-2">Age</h3>
      <p class="bg-gray-700 rounded p-2 text-gray-300">{{age}}</p>
    </div>
    <form
      action="/api/sessions/logout"
      method="POST"
      class="flex items-center justify-center"
    >
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >Logout</button>
    </form>
  {{/with}}
</div>