<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>{{title}}</title>
  </head>
  <style>
  </style>
  <body class="bg-gray-900">
    <div
      id="spinner"
      class="absolute bg-white bg-opacity-60 z-10 h-full w-full flex items-center justify-center hidden"
    >
      <div class="flex items-center">
        <span class="text-3xl mr-4">Loading</span>
        <svg
          class="animate-spin h-8 w-8 text-gray-800"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          >
          </path>
        </svg>
      </div>
    </div>
    <nav class="sticky bg-blue-800 w-full top-0 left-0 p-3 mb-5">
      <a href="/products" class="text-xxl text-white">HOME</a>
    </nav>
    <main class="flex justify-center items-center flex-col">
      {{{body}}}
    </main>
  </body>
</html>